body {
    padding: 70px;
    background-color: lightgreen;
    font-family: sans-serif;
}

.todoList .todoListHeader input {
    padding: 5px;
    font-size: 20px;
    border: 1px solid lightgreen;
    width: 300px;
}

.todoList .todoListHeader button {
    padding: 5px;
    font-size: 15px;
    margin: 10px 0 10px 10px;
    background-color: green;
    color: white;
    border: 1px solid lightgreen;
}

.todoList .todoListHeader button:hover {
    background-color: darkgreen;
    border: 1px solid darkgreen;
    cursor: copy;
}

