body {
    padding: 70px;
    background-color: lightgreen;
    font-family: sans-serif;
}

.todoList .todoListHeader input {
    padding: 5px;
    font-size: 20px;
    border: 1px solid lightgreen;
    width: 300px;
}

.todoList .todoListHeader button {
    padding: 5px;
    font-size: 15px;
    margin: 10px 0 10px 10px;
    background-color: green;
    color: white;
    border: 1px solid lightgreen;
}

.todoList .todoListHeader button:hover {
    background-color: darkgreen;
    border: 1px solid darkgreen;
    cursor: copy;
}

ul.taskList {
    padding: 0;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.taskList li {
    color: black;
    background-color: green;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    /*transition: background-color .2s ease-out;*/
}

